<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	  <h:head>
	  	<title>Bienvenido</title>
	  	<link type="text/css" rel="stylesheet"
	  	href="/JavaServerFaces/faces/javax.faces.resource/style.css?ln=css"/>
	  </h:head>
	  <h:body>
	  	<ui:composition template="/WEB-INF/template_bienvenido.xhtml">
	  	<ui:define name="content">
	  	<h:form>
	  		<div>
	  		<h1 class="bienvenida"> Bienvenido: <h:outputText value="#{usuarioBean.usuario}"></h:outputText> </h1>
	  			
	  		</div>
	  		<h:outputStylesheet library="css" name="style.css"  />
	  		<h:commandButton class="botonCerrar" value="Cerrar" action="#{usuarioBean.cerrar()}"></h:commandButton>
	  		<h:form>
	  		
	  	 	<div>
	  		<h2>Productos</h2>
	  			<h:dataTable var="producto" value="#{productoBean.findAll()}" border="1" cellpadding="2" cellspacing="2">
	  				<h:column>
	  					<f:facet name="header">Id</f:facet>
	  						<h:outputText value="${producto.id}"></h:outputText>
	  				</h:column>
	  				<h:column>
	  					<f:facet name="header">Nombre</f:facet>
	  					<h:commandButton style="background: transparent; border: none !important;" value="${producto.nombre}" action="#{productoBean.link(producto.nombre, producto.id)}"></h:commandButton>
	  					<!-- <h:link value="${producto.nombre}" outcome="detalleProducto"></h:link> -->
	  				<!-- 	<h:commandLink value="${producto.nombre}" action="productoBean.link()">
	  						<f:param name="nombre" value="producto.nombre"></f:param>
	  					</h:commandLink>
		  			 -->	
	  				</h:column>
	  				<h:column>
	  					<f:facet name="header">Precio</f:facet>
	  					<h:outputText value="${producto.precio}"></h:outputText>
	  				</h:column>
	  			</h:dataTable>	
	  		</div>
	  				<h:commandButton class="botonDetalle" value="Detalles de productos" action="detalle"></h:commandButton>
	  		 	</h:form>
	  		</h:form>	
	  	</ui:define>
	  	
	  	<ui:define name="header"><h1>///////////////////////////////////////Bienvenido//////////////////////////////////////////////////////////</h1>
	  	</ui:define>
	  	</ui:composition>
	  </h:body>
	  </html>
