<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	  <h:head>
	  	<title>Detalle del Producto</title>
	  	<link type="text/css" rel="stylesheet"
	  	href="/JavaServerFaces/faces/javax.faces.resource/style.css?ln=css"/>
	  </h:head>
	  <h:body>
	  	<h:form>
	  		<div>
	  			
	  		<h2>Producto: <h:outputText value="#{productoBean.nombre}"></h:outputText></h2>
	  				
	  				
	  	<h:commandButton class="boton" value="volver" action="#{detalleProductoBean.volver()}"></h:commandButton>
	  		
	  	 		<h2>Detalle:</h2>
	  	 		
	  	 		<p>
	  				<h:outputText value="#{productoBean.detalleProducto}"></h:outputText>
	  			</p>
	  			
	  		</div>
	  	
	  	</h:form>	
	  </h:body>
	  </html>
