<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	  <h:head>
	  	<title>Detalles de Productos</title>
	  	<link type="text/css" rel="stylesheet"
	  	href="/JavaServerFaces/faces/javax.faces.resource/style.css?ln=css"/>
	  </h:head>
	  <h:body>
	  	<h:form>
	  		<div>
	  		<h1> Detalles de Productos </h1>
	  		<h:commandButton class="boton" value="volver" action="#{detalleProductoBean.volver()}"></h:commandButton>
	  			
	  		</div>
	  		<h:outputStylesheet library="css" name="style.css"  />
	  		<h:form>
	  		
	  		
	  	 	<div>
	  			<h:dataTable var="detalle" value="#{detalleProductoBean.findAll()}" border="1" cellpadding="2" cellspacing="2">
	  				<h:column>
	  					<f:facet name="header">Id</f:facet>
	  					<h:link value=""><h:outputText value="${detalle.id}"></h:outputText></h:link>
	  				</h:column>
	  				<h:column>
	  					<f:facet name="header">Producto</f:facet>
	  					<h:outputText value="${detalle.producto.nombre}"></h:outputText>
	  				</h:column>
	  			    <h:column>
	  					<f:facet name="header">detalle</f:facet>
	  					<h:outputText value="${detalle.detalle}"></h:outputText>
	  				</h:column>
	  			</h:dataTable>	
	  		</div>
	  		 	</h:form>
	  		</h:form>	
	  </h:body>
	  </html>
